<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="pss.rookscore"
    android:versionCode="1"
    android:versionName="1.0" >

    <uses-permission android:name="android.permission.BLUETOOTH" />
    <uses-permission android:name="android.permission.BLUETOOTH_ADMIN" />
    <uses-permission android:name="android.permission.NFC" />
    
    <uses-sdk
        android:minSdkVersion="16"
        android:targetSdkVersion="16" />

    <application
        android:name="RookScoreApplication"
        android:allowBackup="true"
        android:icon="@drawable/ic_launcher"
        android:label="@string/app_name"
        android:logo="@drawable/rook_max"
        android:theme="@style/AppTheme" >
        <activity android:name="MainActivity" android:label="@string/main_activity_title">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity android:name="AddPlayerActivity" android:label="@string/add_player_activity_title">
        </activity>
        <activity android:name="GameActivity" android:label="@string/game_activity_title">
        </activity>
        <activity android:name="PlayRoundActivity" >
        </activity>
        <activity android:name="ObserveGameActivity" android:label="@string/spectate_activity_title">
            <intent-filter>
                <action android:name="android.nfc.action.NDEF_DISCOVERED" />

                <category android:name="android.intent.category.DEFAULT" />

                <data android:mimeType="application/vnd.pss.rookscore" />
            </intent-filter>
        </activity>

        <service android:name="BluetoothBroadcastService" >
        </service>
        <service android:name="BluetoothReceiverService" >
        </service>
    </application>

</manifest>